$white: #fff;
$black: #000;

$background: #090909;
$background-contrast: #1c1d21;
$background-contrast-2: #25262A;
$font-color: #f8f8f8;
$dark-text: #252527;

$red: #ff4500;
$blue: #0079d3;
$grey: #616169;
